/* general styling */
*{
    padding: 0;
    margin: 0;
}

h1{
    color: white;
}

header{
    background-color: #282c34;
    height: 40px;
    width: 100%;   
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    position: relative;
}

/* item cards  */
.item-card {
    border-radius: 10px;
    padding: 10px;
    position: relative;
    height: 200px;
    background-color: rgba(241, 239, 239, 0.546);
    margin: 10px;
    opacity: 80%;
    box-shadow: 0px 10px 17px -11px rgba(0,0,0,0.75); 
}

#grid1{
    grid-area: 1 / 1 / 2 / 2; 
}

#grid2{
   grid-area: 1 / 2 / 2 / 3;
}

#grid3{
   grid-area: 1 / 3 / 2 / 4;
}

#grid4{
   grid-area: 2/1/2/4;   
}

/* buttons */
.btn-big{
    height: 50px;
    width: 98%;
    cursor: pointer;
    border:0;
    border-radius: 5px;
    margin: 5px;  
    position: absolute; 
    right: 0px;
}

.btn-big:hover{   
    box-shadow: 0px 0px 17px -8px rgba(0,0,0,0.75);
}

.btn-big:active{
    transform: translateY(2px);
}

#btn-get-loan{
    background-color: #688E26;
    bottom: 0px;
}

#btn-pay-loan{
    background-color: #F44708;
    bottom: 55px;  
}

#btn-deposit-money{
    background-color: #FAA613;
    bottom: 55px;
}

#btn-work{
    background-color: #A10702;
    bottom: 0px;
}

#btn-buy-computer{
    width: 180px;
    background-color: #688E26;  
    left:0px; 
    bottom: 5px;
}

/* text elements */
#laptop-price{
    position: absolute;
    top:20px;
    right:2.5em;
    font-size: 2em;
}

#display-loan{
    position: absolute;
    top:60px
}

/* images */
#image-computer{
    width: 130px;
    left: 200px;
    position:absolute;
    top:80px;
    border-radius: 5px;
 }